{
  "extends": ["next"],
  "plugins": ["prettier"],
  "rules": {
    "react/display-name": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  }
}
